.header {
  display: flex;
  max-width: 100%;
  width: 100%;
  justify-content: space-between;
  padding: 20px 5%;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  background: rgba(11, 8, 12, 0.7);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.header ul {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  column-gap: 40px;
  row-gap: 8px;
  align-items: end;
}
.header ul li {
  margin-left: 0px;
  letter-spacing: 1px;
  color: #ccc;
  font-weight: 600;
  cursor: pointer;
}
.navbar-connect {
  display: none !important;
}
.navbar-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.2px;
}
@media only screen and (min-width: 500px) {
  .header {
    padding: 20px 5%;
  }
  .header ul {
    flex-direction: row;
    align-items: center;
    font-size: 14px;
  }
  .header ul li {
    color: #eae5ec;
  }
  .navbar-title {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1250px) {
  .navbar-connect {
    display: block;
  }
}
@media only screen and (min-width: 1250px) {
  .header {
    padding: 25px 5%;
  }
  .header ul {
    column-gap: 80px;
    font-size: 16px;
  }
  .navbar-connect {
    font-size: 16px;
  }
  .navbar-title {
    font-size: 18px;
  }
}
